name: Rust
permissions:
  contents: read

on:
  push:
    branches: [ "release", "main" ]
  pull_request:
    branches: [ "release", "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Check
      run: cargo check
    - name: Build all features
      run: |
        cargo build -p mzcv --no-default-features
        cargo build -p mzcv --no-default-features --features serde
        cargo build -p mzcv --no-default-features --features search-index
        cargo build -p mzcv --no-default-features --features http
        cargo build -p mzcore --no-default-features
        cargo build -p mzcore --no-default-features --features isotopes
        cargo build -p mzcore --no-default-features --features glycan-render
        cargo build -p mzcore --no-default-features --features glycan-render-bitmap
        cargo build -p mzcore --no-default-features --features search-index
        cargo build -p mzcore --no-default-features --features http
        cargo build -p mzcore --no-default-features --features coloured-errors
        cargo build -p mzcore --no-default-features --features isotopes,glycan-render
        cargo build -p mzcore --no-default-features --features isotopes,glycan-render,search-index
        cargo build -p mzannotate
        cargo build -p mzident --no-default-features
        cargo build -p mzident --no-default-features --features mzannotate
        cargo build -p imgt
        cargo build -p mzalign
        cargo build -p mzalign --features rayon
        cargo build -p mzalign --features imgt
        cargo build -p mzalign --features rayon,imgt

  fmt:
    runs-on: ubuntu-latest

    needs: build
    steps:
    - uses: actions/checkout@v6
    - name: Run fmt
      run: cargo fmt --check

  clippy:
    runs-on: ubuntu-latest

    needs: build
    steps:
    - uses: actions/checkout@v6
    - name: Run clippy
      run: cargo clippy

  test:
    runs-on: ubuntu-latest
    env:
      CARGO_ENCODED_RUSTFLAGS: --cfg=github_action

    needs: build
    steps:
    - uses: actions/checkout@v6
    - name: Run tests
      run: |
        cargo test -p mzcv --no-fail-fast --features serde,search-index,http
        cargo test -p mzcore --no-fail-fast --features isotopes,glycan-render,search-index
        cargo test -p mzannotate --no-fail-fast
        cargo test -p mzident --no-fail-fast
        cargo test -p imgt --no-fail-fast
        cargo test -p mzalign --no-fail-fast --features imgt,rayon

